

<!doctype html>
<html>
    <body>
        <head>
            <title>build-a-blog</title>
        </head>
        <a href = "/blog">Main Blog Page</a> &nbsp;&nbsp;
        <a href = "/add-new-post">Add a Blog Entry</a>
        <h1>Build A Blog</h1>
        <main>
            {% block content %}
            <!--<form action = "/" method = "POST">
                <label>
                    Title: 
                    <input type = "text" name = "title"/>
                </label>
                <label>
                    Entry: 
                    <input type = "textarea" name = "body"/>
                </label>
                <input type = "submit" value = "submit"/>
            </form> -->
            

            {% endblock %}
        </main>
    </body>
</html>