

<!doctype html>
<html>
    <body>
        <head>
            <title>blogz</title>
        </head>
        <a href = "/blog">Main Blog Page</a> &nbsp;&nbsp;
        <a href = "/add-new-post">Add a Blog Entry</a>&nbsp;&nbsp;
        <a href = "/login">Login</a>&nbsp;&nbsp;
        <a href = "/logout">Logout</a>&nbsp;&nbsp;
        <a href = "/">Home</a>


        <h1>Blogz</h1>
        <main>
            {% block content %}
        
            

            {% endblock %}
        </main>
    </body>
</html>